:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  background-color: var(--secondary-text-color);
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  background-color: rgb(70, 75, 73);
}
.header .container {
  padding: 0 50px;
}
.logo {
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
  margin-right: auto;
}

.accent {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-nav-link {
  line-height: 1.56;
  color: var(--secondary-text-color);

  padding: 21px 0;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* HERO */

.hero {
  background-color: rgb(70, 75, 73);

  padding-top: 259px;
  padding-bottom: 284px;
  text-align: center;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;

  margin-bottom: 45px;
}

.hero-text {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;

  margin-bottom: 29px;
}

.hero-btn {
  background-color: var(--accent-color);
  border-radius: 5px;

  line-height: 1.56;
  color: var(--secondary-text-color);

  padding: 10px 30px 10px 41px;
  display: inline-block;
}

/* ABOUUT */

.about {
  padding-top: 122px;
  padding-bottom: 19px;
}

.about .container {
  padding-right: 66px;
  padding-left: 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.about-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);
}

.about-text {
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);
}

/* solution */

.solution .container {
  display: flex;
  padding: 0;
}

.solution-subtitle {

    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    color: var(--secondary-text-color);
    margin-bottom: 5px;
}

.solution-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: var(--secondary-text-color);
    margin-bottom: 26px;
}

.solution-text {
  line-height: 1.56;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
} 

.solution-content-wrapper {
  background-color: var(--accent-color);
  width: 50%;
  padding: 84px 44px 84px 30px;
}

.solution-btn {
  background-color:transparent ;
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-text-color);
    border-radius: 5px;

    padding: 11px 27px 12px 42px;

    display: inline-block;
}