:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  background-color: var(--secondary-text-color);
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

/* header */
.header {
  background-color: rgb(70, 75, 73);

}
.header .container {
  padding: 0 50px;
}
.logo {
    font-size: 35px;
    line-height: 1.21;
    color: var(--secondary-text-color);
    margin-right: auto;
}

.accent {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 38px;
}


.header-nav-link {
    line-height: 1.56;
    color:var(--secondary-text-color);
    
    padding: 21px 0;
    display: block;
}

.header-nav 
{
  display: flex;
  align-items: center;
}

/* HERO */

.hero{
 background-color: rgb(70, 75, 73);

 padding-top: 259px;
 padding-bottom: 284px;
 text-align: center;
}

.hero-title{
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    color: #E9E9E9;

    margin-bottom: 45px;
}

.hero-text{
    font-size: 22px;
    line-height: 1.67;
    color: #E9E9E9;

    margin-bottom: 29px;
}

.hero-btn{
    background-color: var(--accent-color);
    border-radius: 5px;

    line-height: 1.56;
    color: var(--secondary-text-color);

    padding: 10px 30px 10px 41px;
    display: inline-block;
}

