:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  background-color: var(--secondary-text-color);
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-text-color);
  border-radius: 5px;
  display: inline-block;
}

.dark {
  background-color: var(--accent-color);
}

.ligth {
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
}

/* header */
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header .container {
  padding: 0 50px;
}

.logo {
  display: flex;
  align-items: center;

  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
  margin-right: auto;
}

.logo-icon {
  fill: var(--accent-color);
  margin-right: 10px;
}

.accent {
  color: var(--accent-color);
  margin-right: 12px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-nav-link {
  line-height: 1.56;
  color: var(--secondary-text-color);

  padding: 21px 0;
  display: block;

  transition: color 250ms linear;
  position: relative;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

/* HERO */

.hero {
  background-color: rgb(70, 75, 73);

  padding-top: 259px;
  padding-bottom: 284px;
  text-align: center;

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 1360px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;

  margin-bottom: 45px;
}

.hero-text {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;

  margin-bottom: 29px;
}

.hero-btn {
  padding: 10px 30px 10px 27px;

  display: inline-flex;
  align-items: center;
  gap: 5px;

  transition: color 250ms linear, background-color 250ms linear;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-text-color);
  color: var(--accent-color);
}

.icon-btn {
  fill: currentColor;
}

/* ABOUUT */

.about {
  padding-top: 40px;
  padding-bottom: 19px;
  background-color: #f4f4f4;
  max-width: 1360px;
  margin: 0 auto;
}

.about .container {
  padding-right: 66px;
  padding-left: 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.about-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);
}

.about-text {
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);
}

.abaut-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin: 15px auto;
}

.abaut-icon {
  fill: var(--secondary-text-color);
}

/* solution */

.solution .container {
  display: flex;
  padding: 0;
}

.solution-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.solution-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
  margin-bottom: 26px;
}

.solution-text {
  line-height: 1.56;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.solution-content-wrapper {
  background-color: var(--accent-color);
  width: 50%;
  padding: 84px 44px 84px 30px;
}

.solution-btn {
  padding: 11px 27px 12px 42px;
}

/* cases */

.cases {
  padding: 50px 0;
}

.cases-top-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 15px;
}

.cases-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 34px;
}

.cases-descr {
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 39px;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 8px;
}

.cases-item {
  width: calc((100% - 24px) / 4);
}


/* blog */

.blog .container{
  display: flex;
  padding:0 ;
}

.blog-content-wrapper{
background-color:#0284D0 ;
padding: 112px 66px 113px 30px;
width: 50%;
}

.blog-btn{
  padding: 11px 31px 10px 42px ;
}