<section class="about" id="about">
  <div class="container">
    <h2 class="visually-hidden">about</h2>
    <ul class="about-list list">
      <li class="about-item">
        <div class="abaut-icon-wrapper">
          <svg class="abaut-icon" width="35" height="35">
            <use href="./images/icon/sprite.svg#icon-university"></use>
          </svg>
        </div>
        <h3 class="about-title">Investmant Banking</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about-item">
        <div class="abaut-icon-wrapper">
          <svg class="abaut-icon" width="35" height="35">
            <use href="./images/icon/sprite.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="about-title">Portfolio Manager</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about-item">
        <div class="abaut-icon-wrapper">
          <svg class="abaut-icon" width="35" height="35">
            <use href="./images/icon/sprite.svg#icon-pencil"></use>
          </svg>
        </div>
        <h3 class="about-title">Tax & Custudio</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
