<section class="blog" id="blog">
  <div class="container">
    <div class="blog-content-wrapper">
      <h2 class="section-subtitle section-subtitle-light">April 16 2020</h2>
      <h3 class="section-title section-title-light">Blog Post One</h3>
      <p class="section-text section-text-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="button ligth blog-btn link" href="">Read Our Blog </a>
    </div>
    <img src="./images/blog/blog.jpeg" alt="blog" width="680" height="517" />
  </div>
</section>
