<section>
  <div class="container">
    <div class="callback-wrapper">
      <div class="callback-image">
        <img src="./images/callback/callback-image.jpg" alt="phone us" />
      </div>
      <div class="input-box">
        <h3 class="callback-title">Request Callback</h3>
        <input
          class="callback-input"
          type="text"
          placeholder="Enter your name"
        />
        <input class="callback-input" type="text" placeholder="Enter email*" />
        <button class="callback-button">Send</button>
      </div>
    </div>
  </div>
</section>
