<section class="cases" id="cases">
  <div class="container">
    <h2 class="section-subtitle section-subtitle-dark">This is what we do</h2>
    <h3 class="section-title section-title-dark">Business Cases</h3>
    <p class="section-text section-text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases-list list gallery">
      <li class="cases-item">
        <div class="cases-img-wrapper">
          <a href="./images/cases/big/bussines1-3x.jpg">
            <img
              class="cases-img"
              src="./images/cases/cases-1.jpg"
              width="320"
              height="214"
              alt="company in progres"
            />
          </a>
        </div>
      </li>

      <li class="cases-item">
        <div class="cases-img-wrapper">
          <a href="./images/cases/big/bussines2-3x.jpg">
            <img
              class="cases-img"
              src="./images/cases/cases-2.jpg"
              width="320"
              height="214"
              alt="company in progres"
            />
          </a>
        </div>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines3-3x.jpg">
          <img
            src="./images/cases/cases-3.jpg"
            width="320"
            height="214"
            alt="company in progres"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines6-3x.jpg">
          <img
            src="./images/cases/cases-4.jpg"
            width="320"
            height="214"
            alt="company in progres"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines5-3x.jpg">
          <img
            src="./images/cases/cases-5.jpg"
            width="320"
            height="214"
            alt="company in progres"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines6-3x.jpg">
          <img
            src="./images/cases/cases-6.jpg"
            width="320"
            height="214"
            alt="company in progres"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines7-3x.jpg">
          <img
            src="./images/cases/cases-7.jpg"
            width="320"
            height="214"
            alt="company in progres"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines8-3x.jpg">
          <img
            src="./images/cases/cases-8.jpg"
            width="320"
            height="214"
            alt="company in progres"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
