<header class="header header-js">
  <div class="container">
    <nav class="header-nav">
      <a class="logo link animate__animated animate__flash" href="./index.html">
        <svg class="logo-icon" width="40" height="30">
          <use href="./images/icon/sprite.svg#icon-logo"></use>
        </svg>
        <span class="accent">Finance </span> Ledger</a
      >
      <ul class="header-list list">
        <li><a class="header-nav-link link" href="#hero">Home</a></li>
        <li><a class="header-nav-link link" href="#about">About</a></li>
        <li><a class="header-nav-link link" href="#cases">Cases</a></li>
        <li><a class="header-nav-link link" href="#blog">Blog</a></li>
        <li><a class="header-nav-link link" href="#footer">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
