<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo link" href="./index.html">
        <svg class="logo-icon" width="40" height="30">
          <use href="./images/icon/sprite.svg#icon-logo"></use>
        </svg>
        <span class="accent">Finance </span> Ledger</a
      >
      <ul class="header-list list">
        <li><a class="header-nav-link link" href="">Home</a></li>
        <li><a class="header-nav-link link" href="">About</a></li>
        <li><a class="header-nav-link link" href="">Cases</a></li>
        <li><a class="header-nav-link link" href="">Blog</a></li>
        <li><a class="header-nav-link link" href="">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
