<section class="slick">
  <div class="container">
    <div class="one-time">
      <div class="slick-box">
        <h3 class="slick-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eius
          dignissimos eligendi quod ullam et porro, nulla, beatae iste quis
          blanditiis voluptates cupiditate nobis reprehenderit nostrum deleniti
          dicta aliquam explicabo esse. Eius soluta dolore repellendus quis,
          omnis esse placeat expedita porro quae debitis quasi itaque magnam
          praesentium repellat neque saepe.
        </h3>
      </div>
      <div class="slick-box">
        <h3 class="slick-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eius
          dignissimos eligendi quod ullam et porro, nulla, beatae iste quis
          blanditiis voluptates cupiditate nobis reprehenderit nostrum deleniti
          dicta aliquam explicabo esse. Eius soluta dolore repellendus quis,
          omnis esse placeat expedita porro quae debitis quasi itaque magnam
          praesentium repellat neque saepe.
        </h3>
      </div>
      <div class="slick-box">
        <img src="./images/cases/cases-2.jpg" alt="" />
        <h3 class="slick-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eius
          dignissimos eligendi quod ullam et porro, nulla, beatae iste quis
          blanditiis voluptates cupiditate nobis reprehenderit nostrum deleniti
          dicta aliquam explicabo esse. Eius soluta dolore repellendus quis,
          omnis esse placeat expedita porro quae debitis quasi itaque magnam
          praesentium repellat neque saepe.
        </h3>
      </div>
      <div class="slick-box">
        <h3 class="slick-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eius
          dignissimos eligendi quod ullam et porro, nulla, beatae iste quis
          blanditiis voluptates cupiditate nobis reprehenderit nostrum deleniti
          dicta aliquam explicabo esse. Eius soluta dolore repellendus quis,
          omnis esse placeat expedita porro quae debitis quasi itaque magnam
          praesentium repellat neque saepe.
        </h3>
      </div>
      <div class="slick-box">
        <h3 class="slick-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eius
          dignissimos eligendi quod ullam et porro, nulla, beatae iste quis
          blanditiis voluptates cupiditate nobis reprehenderit nostrum deleniti
          dicta aliquam explicabo esse. Eius soluta dolore repellendus quis,
          omnis esse placeat expedita porro quae debitis quasi itaque magnam
          praesentium repellat neque saepe.
        </h3>
      </div>
      <div class="slick-box">
        <h3 class="slick-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eius
          dignissimos eligendi quod ullam et porro, nulla, beatae iste quis
          blanditiis voluptates cupiditate nobis reprehenderit nostrum deleniti
          dicta aliquam explicabo esse. Eius soluta dolore repellendus quis,
          omnis esse placeat expedita porro quae debitis quasi itaque magnam
          praesentium repellat neque saepe.
        </h3>
      </div>
    </div>
  </div>
</section>
