<section class="solution">
  <div class="container">
    <img
      src="./images/solution/solution.jpg"
      alt="team"
      width="680"
      height="460"
    />
    <div class="solution-content-wrapper">
      <h2 class="section-subtitle section-subtitle-light">
        What you are looking for
      </h2>
      <h3 class="section-title section-title-light">
        We provide bespoke solutions
      </h3>
      <p class="section-text section-text-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="button ligth solution-btn link" href="">Read more</a>
    </div>
  </div>
</section>
