<section class="team">
  <div class="container">
    <h2 class="section-subtitle section-subtitle-dark">Who we are</h2>
    <h3 class="section-title section-title-dark">Our Professional Team</h3>
    <p class="section-text section-text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team-list list">
      <li class="team-item">
        <div class="team-overlay">
          <img
            class="team-img"
            src="./images/team/team-1.jpg"
            alt="John Doe"
            width="420"
            height="280"
          />

          <ul class="team-soc-list list">
            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="team-name">John Doe</h4>
        <p class="team-position">President</p>
      </li>

      <li class="team-item">
        <div class="team-overlay">
          <img
            class="team-img"
            src="./images/team/team-2.jpg"
            alt="Jane Doe"
            width="420"
            height="280"
          />

          <ul class="team-soc-list list">
            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="team-name">Jane Doe</h4>
        <p class="team-position">Vice President</p>
      </li>

      <li class="team-item">
        <div class="team-overlay">
          <img
            class="team-img"
            src="./images/team/team-3.jpg"
            alt="Steve Smith"
            width="420"
            height="280"
          />

          <ul class="team-soc-list list">
            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="team-soc-item">
              <a class="team-soc-link" href="">
                <svg class="soc-icon" width="35" height="35">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="team-name">Steve Smith</h4>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
