.blog .container {
  display: flex;
  padding: 0;
}

.blog-content-wrapper {
  background-color: #0284d0;
  padding: 112px 66px 113px 30px;
  width: 50%;
}

.blog-btn {
  padding: 11px 31px 10px 42px;
}
