.cases {
  padding: 50px 0;
  text-align: center;

  &-img {
    transition: transform 500ms ease;
  }

  &-img:hover {
    transform: scale(1.05);
  }

  &-img-wrapper {
    overflow: hidden;
  }
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 8px;
}

.cases-item {
  width: calc((100% - 24px) / 4);
}

.sl-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
