.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header .container {
  padding: 0 50px;
}

.logo {
  display: flex;
  align-items: center;

  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
  margin-right: auto;
}

.logo-icon {
  fill: var(--accent-color);
  margin-right: 10px;
}

.accent {
  color: var(--accent-color);
  margin-right: 12px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-nav-link {
  line-height: 1.56;
  color: var(--secondary-text-color);

  padding: 21px 0;
  display: block;

  transition: color 250ms linear;
  position: relative;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}
